{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static tailwind_tags %}
    <title>PDF Data Extractor</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col items-center justify-center">
    <header class="text-3xl font-bold text-gray-800 mb-8">Upload PDF Files to Extract Data</header>
    
    <div class="bg-white p-8 rounded shadow-md w-full max-w-lg">
        <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div class="flex items-center justify-center w-full">
                <label for="file-upload" class="flex flex-col items-center justify-center w-full h-64 border-2 border-dashed border-gray-300 rounded-lg cursor-pointer hover:bg-gray-80">
                    <svg class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12l8-8 8 8M12 4v16"></path>
                    </svg>                    
                    <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    <input id="file-upload" name="files" type="file" class="hidden" multiple accept=".pdf" onchange="showFileName(this)" required>
                </label>
            </div>
            <span id="file-name" class="block text-sm text-gray-600 mt-2 italic"></span><br>
            <button type="submit" class="w-full bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600">Upload and Extract Data</button>
        </form>
    </div>
</body>
<script>
function showFileName(input) {
    var fileNameElement = document.getElementById('file-name');
    var fileName = input.files[0].name;
    fileNameElement.textContent = fileName;
}
</script>
</html>
