{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Data Summary</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col items-center justify-center">
    <header class="text-3xl font-bold text-gray-800 mb-8">Summary of Extracted Data</header>
    
    <div class="bg-white p-8 rounded shadow-md w-full max-w-2xl">
        <div id="answer-padding" class="scrollable relative my-4 p-2 rounded overflow-auto">
            {{summary|safe}}
        </div>
        
        <div class="mt-6 flex justify-center">
            <a href="{% url 'csv_summery' csv_file_url %}" class="bg-green-500 text-white font-semibold py-2 px-4 rounded hover:bg-green-600">Download Clean Data (Excel/CSV)</a>
        </div>

        <div class="mt-6 flex justify-center">
            <a href="{% url 'getresponse' json_file_url %}" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600">Click Here To Get More Insights</a>
        </div>
    </div>
</body>
</html>
